---
name: Lint and Test

on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pre-commit/action@v3.0.1
